html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}
.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}
:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}
  .menu {
    display: none;
  }
body {
  display: flex;
  margin: 0 auto;
  min-height: 100vh; 
  flex-direction: column;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

.content-wrapper {
    flex: 1; 
}


* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* main title styles*/
.main-title{
   position: fixed;
    top: 0px;
    left: 5px;
    opacity: .5;
}

/* nav styles */

.nav-links {
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: center ;
  align-items: center;
}

.nav-links a {
  display: flex;
  justify-content: center ;
  
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}
.current {
  background-color: #ff9776;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    margin-bottom: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }
  .image-grid{
    grid-template-columns: repeat(3, 1fr);
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

}


/* stuff for photo grid */

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 1rem;
  }
  .image-grid img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }


  /*buttons*/

.backbutton {
   /* Primary blue */
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; /* For links */
  display: inline-flex; /* Align icon and text */
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.backbutton:hover {
  background-color: #ff9776; 
}

.backbutton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  height: 100px
  }
