---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout pageTitle={pageTitle}>

  <p>I'm a software developer and photographer based in San Luis Obispo. My resume is below.</p>
  <p>Statement on Generative AI: While useful in certain scenarios, I belive that generative AI is fundamentally incompatible 
    with the best practices for effective learning, and as the purpos of this site is to document and explore my own relationship with learning, no content on this site, whether it be software, writing, 
    or other art forms, was produced using generative AI. Seriously. Go check out my long winded blog post. If AI is used for anything, it will be clearly marked.
    on why I beleive this.
  </p>

</BaseLayout>
