---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Hello.</h2>
  <p>This is my website. There are photos, articles, and project descriptions. 
    You can find my information on the contact page. </p>
</BaseLayout>


