---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <button onclick="history.back()" class="backbutton">&#x2190; Back</button>
  <p>Copyright 2026 Owen Lutz. All Rights Reserved. <a href="/about/">Contact</a> 
</footer>