---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';
---


<footer>
  <button onclick="history.back()" class="backbutton">&#x2190; Back</button>
  <p>Copyright 2026 Owen Lutz. All Rights Reserved. <a href="/about/">Contact</a> 
</footer>