---
import { Image } from 'astro:assets';
import claudemonet from "../assets/claudemonet.jpg"; 
import archnight from "../assets/archnight.jpg"; 
import owen1 from "../assets/owen1.jpg"; 
import sunset1 from "../assets/sunset1.jpg"; 
---

<div class="image-grid">
    <Image src={claudemonet} alt="A description of my image." />
    <Image src={archnight} alt="A description of my image." />
    <Image src={owen1} alt="A description of my image." />
    <Image src={sunset1} alt="A description of my image." />
    

  
</div>
